@page "/changepassword"
@inherits ChangePasswordBase

@attribute [Authorize]

<Title value="Реабілітація КНУ | Зміна пароля"></Title>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4 class="page-title">Зміна пароля</h4>
                <EditForm Model="ChangePasswordModel" OnValidSubmit="@ChangePasswordAsync">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Введіть актуальний пароль</label>
                                <InputText @bind-Value="ChangePasswordModel.CurrentPassword" @oninput="ClearErrorsAsync" autofocus="" class="form-control" type="password" />
                                <ValidationMessage For="@(() => ChangePasswordModel.CurrentPassword)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Введіть новий пароль</label>
                                <InputText @bind-Value="ChangePasswordModel.NewPassword" @oninput="ClearErrorsAsync" autofocus="" class="form-control" type="password" />
                                <ValidationMessage For="@(() => ChangePasswordModel.NewPassword)" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Підтвердіть новий пароль</label>
                                <InputText @bind-Value="ChangePasswordModel.NewPasswordConfirmed" @oninput="ClearErrorsAsync" autofocus="" class="form-control" type="password" />
                                <ValidationMessage For="@(() => ChangePasswordModel.NewPasswordConfirmed)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 login-error text-center" id="changepassword-error-current">
                            Невірно вказано пароль
                        </div>
                        <div class="col-sm-12 login-error text-center" id="changepassword-error-confirm">
                            Паролі не співпадають
                        </div>
                        <div class="col-sm-12 text-center m-t-20">
                            <button type="submit" class="btn btn-primary submit-btn">Зберегти</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
<div id="password_changed" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3>Ваш пароль було успішно змінено!</h3>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info" data-dismiss="modal" @onclick="async () => await DoneAsync()">Добре</button>
                </div>
            </div>
        </div>
    </div>
</div>