@page "/doctors"
@using KNU.RS.Logic.Models.Doctor
@inject IJSRuntime JsRuntime
@attribute [Authorize]

<Title value="Система реабілітації КНУ | Лікарі"></Title>

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="main-wrapper">
                <Header></Header>
                <Sidebar></Sidebar>
                <DoctorsTable Doctors="DoctorsList"></DoctorsTable>
            </div>
            <div class="sidebar-overlay" data-reff=""></div>
        }
    </Authorized>
</AuthorizeView>

@code {
    private bool IsLoading { get; set; } = true;

    [Parameter]
    public List<DoctorInfo> DoctorsList { get; set; } = new List<DoctorInfo>();

    protected override void OnInitialized()
    {
        IsLoading = false;
    }
}
