@page "/doctors"
@attribute [Authorize]

@inherits DoctorsBase

<Title value="Система реабілітації КНУ | Лікарі"></Title>

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="main-wrapper">
                <Header></Header>
                <Sidebar></Sidebar>
                <DoctorsGrid Doctors="DoctorsList"></DoctorsGrid>
            </div>
            <div class="sidebar-overlay" data-reff=""></div>
        }
    </Authorized>
</AuthorizeView>
