@page "/doctors"
@using KNU.RS.Data.Constants 

@attribute [Authorize(Roles = RoleName.Admin)]

@inherits DoctorsBase

<Title value="Реабілітація КНУ | Лікарі"></Title>

@if (IsLoading)
{
    <div class="spinner"></div>
}
else
{
    <DoctorsGrid Doctors="DoctorsList"></DoctorsGrid>
}
