@page "/doctors"
@attribute [Authorize]

@inherits DoctorsBase

<Title value="Система реабілітації КНУ | Лікарі"></Title>

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        else
        {
            <DoctorsGrid Doctors="DoctorsList"></DoctorsGrid>
        }
    </Authorized>
</AuthorizeView>
