@page "/myrecoveryplans"
@using KNU.RS.Data.Constants

@attribute [Authorize(Roles = RoleName.Patient)]

<Title value="Реабілітація КНУ | Мої вправи"></Title>

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        <div class="page-wrapper">
            <div class="content">
                <PersonalRecoveryPlans />
            </div>
        </div>
    </Authorized>
</AuthorizeView>
