@page "/patients"
@inherits PatientsBase

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="page-wrapper">
                <div class="content">
                    <PatientsTable Patients="PatientsList" />
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>

@code { 

}
