@page "/patients"
@inherits PatientsBase

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="main-wrapper">
                <Header></Header>
                <Sidebar></Sidebar>
                <div class="page-wrapper">
                    <div class="content">
                        <PatientsTable Patients="PatientsList" />
                    </div>
                </div>
            </div>
            <div class="sidebar-overlay" data-reff=""></div>
            }
    </Authorized>
</AuthorizeView>

@code { 

}
