@page "/patients"

@using KNU.RS.Logic.Models.Patient
@inject IJSRuntime JsRuntime  

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="main-wrapper">
                <Header></Header>
                <Sidebar></Sidebar>
                <PatientsTable Patients="PatientsList" />
            </div>
            <div class="sidebar-overlay" data-reff=""></div>
        }
    </Authorized>
</AuthorizeView>

@code { 
    private bool IsLoading { get; set; } = true;

    [Parameter]
    public List<PatientInfo> PatientsList { get; set; } = new List<PatientInfo>();

    protected override void OnInitialized()
    {
        IsLoading = false;
    }
}
