@page "/signin"

<h3>SignIn</h3>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Log In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/img/sign-in/icons/favicon.ico" />
    <link rel="stylesheet" href="~/css/signin/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/signin/fonts/iconic/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="~/css/signin/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/signin/vendor/animate/animate.css">
    <link rel="stylesheet" href="~/css/signin/vendor/css-hamburgers/hamburgers.css">
    <link rel="stylesheet" href="~/css/signin/vendor/animsition/css/animsition.css">
    <link rel="stylesheet" href="~/css/signin/vendor/select2/select2.css">
    <link rel="stylesheet" href="~/css/signin/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/css/signin/util.css">
    <link rel="stylesheet" href="~/css/signin/main.css">
</head>
<body>
    <div>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" id="form1" runat="server">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            Log in
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <asp:TextBox ID="txtEmail" runat="server" class="input100" placeholder="Username"></asp:TextBox>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <asp:TextBox ID="txtPass" class="input100" runat="server" placeholder="Password" TextMode="Password"></asp:TextBox>
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <asp:Button ID="btnLogin" class="login100-form-btn" runat="server" Text="Login" OnClick="btnLogin_Click" />
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <div id="dropDownSelect1"></div>
    </div>

</body>
</html>

@code {

}
