@page "/signin"

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Система реабілітації КНУ | Вхід</title>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Вхід в систему </h2>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логін" data-inputtype="email" maxlength="100" required="required">
                <input type="password" id="password" class="fadeIn third" placeholder="Пароль" data-inputtype="password" name="password" required="required">
                <input type="submit" class="fadeIn fourth" value="Увійти">
            </form>

        </div>
    </div>

    <footer id="footerPrivacy">
        <p class="col-md-6">© 2021 - Всі права захищені.</p>
    </footer>

</body>
</html>



@code {

}
