@page "/signin"
@inject IAccountService accountService
@inject NavigationManager navManager

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Система реабілітації КНУ | Вхід</title>
</head>

<body>
    <div id="fadeInDown-wrapper">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Вхід в систему </h2>

                <!-- Login Form -->
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логін" data-inputtype="email" maxlength="100" required="required" @bind="@LoginModel.Email">
                    <input type="password" id="password" class="fadeIn third" placeholder="Пароль" data-inputtype="password" name="password" required="required" @bind="@LoginModel.Password">
                    <input type="submit" class="fadeIn fourth" value="Увійти" @onclick="@(async () => await LoginAsync())">
                </form>

            </div>
        </div>
    </div>

    <footer id="footerPrivacy">
        <p class="col-md-6">© 2021 - Всі права захищені.</p>
    </footer>

</body>
</html>



@code {
    private LoginModel LoginModel { get; set; } = new LoginModel { Email = String.Empty, Password = String.Empty };

    private async Task LoginAsync()
    {
        var loginResult = await accountService.LoginAsync(LoginModel);

        if (loginResult)
        {
            navManager.NavigateTo("/");
            return;
        }


    }
}
