@page "/viewpatient/{Id:guid}"
@using KNU.RS.Logic.Models.Patient
@using KNU.RS.Logic.Services.PatientService

@inject IPatientService patientService

@inherits ViewPatientBase
@attribute [Authorize]

<Title value="Реабілітація КНУ | Пацієнти"></Title>

<AuthorizeView Roles="Admin,Doctor,Patient">
    <Authorized>
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        else
        {
            <PatientProfile Patient="Patient"></PatientProfile>
        }
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public Guid Id { get; set; }

    protected PatientInfo Patient { get; set; } = new PatientInfo();

    protected bool IsLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        Patient = await patientService.GetInfoAsync(Id);
        IsLoading = false;
    }
}