@page "/viewpatient/{Id:guid}"
@using KNU.RS.Data.Constants
@using KNU.RS.Logic.Services.PatientService
@inherits ViewPatientBase

@attribute [Authorize(Roles = RoleName.Admin + "," + RoleName.Doctor)]

<Title value="Реабілітація КНУ | Пацієнти"></Title>

@if (IsLoading)
{
    <div class="spinner"></div>
}
else
{
    <PatientProfile Patient="Patient"></PatientProfile>
}

