<div class="main-wrapper error-wrapper">
    <div class="error-box">
        <h1>500</h1>
        <h3><i class="fa fa-warning"></i> Отакої! Щось пішло не так.</h3>
        <p>Вибачаємося, це посилання недійсне.</p>
        <a href="index-2.html" class="btn btn-primary go-home">На Головну</a>
    </div>
</div>
