@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <div class="top-row px-4 auth">
            <img src="images/shared/knu.png" alt="КНУ" width="40" height="40" id="top-row-img"/>
            Система реабілітації КНУ
            <LoginDisplay />
        </div>

        <div class="content px-4" style="height:100%">
            @Body
        </div>
    </div>
</div>
