@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="main-wrapper">
            <Header></Header>
            <Sidebar></Sidebar>
            @Body
        </div>
        <div class="sidebar-overlay" data-reff=""></div>
    </Authorized>
    <NotAuthorized>
        <RedirectToSignIn></RedirectToSignIn>
    </NotAuthorized>
</AuthorizeView>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        Сталася помилка. Будь-ласка, перезавантажте сторінку.
    </environment>
    <environment include="Development">
        Сталася помилка. Будь-ласка, перезавантажте сторінку.
    </environment>
    <a href="" class="reload">Перезавантажити</a>
    <a class="dismiss">🗙</a>
</div>
