@inherits LayoutComponentBase

<div>
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div>
        <div>
            @Body
        </div>
    </div>
</div>
