@inherits LayoutComponentBase

<div>
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                @*<NavMenu />*@
            </div>
        </Authorized>
    </AuthorizeView>

    @Body
</div>
