@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <Header></Header>
        <Sidebar></Sidebar>
        @Body
        <div class="sidebar-overlay" data-reff=""></div>
    </Authorized>
</AuthorizeView>
