@inject IJSRuntime JsRuntime
@inject NavigationManager navManager

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Головна</li>
                <li class="@panelClass">
                    <a href="/main" @onclick="async () => await CloseSidebarAsync()"><i class="fa fa-dashboard"></i> <span>Панель</span></a>
                </li>
                <li class="@doctorsClass">
                    <a href="/doctors" @onclick="async () => await CloseSidebarAsync()"><i class="fa fa-user-md"></i> <span>Лікарі</span></a>
                </li>
                <li class="@patientsClass">
                    <a href="/patients" @onclick="async () => await CloseSidebarAsync()"><i class="fa fa-wheelchair"></i> <span>Пацієнти</span></a>
                </li>
                <li class="@myRecoveryPlansClass">
                    <a href="/myrecoveryplans" @onclick="async () => await CloseSidebarAsync()"><i class="fa fa-calendar-check-o"></i> <span>Мої вправи</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    private string currentUri => navManager.ToBaseRelativePath(navManager.Uri);
    private string panelClass => currentUri.Equals("main") ? "active" : "";
    private string doctorsClass => currentUri.Contains("doctor") ? "active" : "";
    private string patientsClass => currentUri.Contains("patient") ? "active" : "";
    private string myRecoveryPlansClass => currentUri.Contains("myrecoveryplans") ? "active" : "";

    private async Task CloseSidebarAsync()
    {
        await JsRuntime.InvokeVoidAsync(JSExtensionMethods.CloseSidebar);
    }
}